html {
	font-family: Source Sans Pro,sans-serif;
	font-size: 16px;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	height: 100%;
}

body {
	background-color: #eff3f6;
}

.o-page {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.o_page_sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 250px;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s,-webkit-transform .2s;
	z-index: 300
}

.c_sidebar {
	position: relative;
	height: 100%;
	margin: 0;
	padding-bottom: 1.875rem;
	background-color: #222c3c;
	overflow: auto;
	z-index: 200;
}

.c_sidebar_brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 70px;
	padding-left: 1.875rem;
	border-bottom: 1px solid #2a3547;
	color: #e6eaee;
	font-size: 16px;
	vertical-align: middle;
}

.c_sidebar a {
	transition: color .15s ease-in-out;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	-webkit-text-decoration-skip: objects;
	text-decoration-skip: objects;
}

.c_sidebar_brand .c-sidebar__brand-img {
	display: inline-block;
	height: 50px;
	width: 80%;
	margin-right: .625rem;
}

.c_sidebar_brand img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	border-style: none;
}


.c_sidebar__title {
	margin-top: 25px;
	margin-bottom: 15px;
	padding-left: 30px;
	color: #7f8fa4;
	font-size: 12px;
	text-transform: uppercase
}

.c_sidebar ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.c_sidebar ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.c_sidebar_list svg {
	margin-right: 15px;
}

.c-sidebar__item {
	position: relative;
	transition: background-color .2s;
}

.c_sidebar ul li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style-type: none;
}

.c-sidebar__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 0 10px 30px;
	transition: background-color .2s;
	color: #b7c0cd;
	font-size: .875rem;
}

	.c-sidebar__link.is_active {
		background-color: #1d2531;
		box-shadow: inset 3px 0 0 0 #00a8ff;
	}

.c_sidebar ul li a {
	transition: color .15s ease-in-out;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	-webkit-text-decoration-skip: objects;
	text-decoration-skip: objects;
}

.c_sidebar li a:hover {
	color: white;
}

.o_page_content {
	margin-left: 250px;
	width: 100%;
}

.c-navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	width: 100%;
	min-width: 100%;
	min-height: 70px;
	border-bottom: 1px solid #e6eaee;
	background-color: #fff;
	justify-content: space-between;
	/*background: #222C3C!important;
    color: white!important;*/
}

.u-mr-auto {
	margin-right: auto !important;
}

.c-navbar__title {
	margin: 0;
	padding: 0;
	font-size: 1.125rem;
	padding-left: 13px;
}

.c-navbar__profile {
	margin: 0;
	padding: 0;
	padding-right: 13px;
}


.c-avatar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.c-navbar__profile a {
	transition: color .15s ease-in-out;
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
	-webkit-text-decoration-skip: objects;
	text-decoration-skip: objects;
}


.c-navbar__profile .no_avatar {
	border: 1px solid gray;
	padding: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rebeccapurple;
	color: white;
	text-align: center;
	padding-top: 0;
}


.menu-counter-text {
	color: red;
	font-weight: bold;
	margin-left: 3px;
}

.celled th {
	cursor: pointer !important;
}


.pagination {
	display: inline-block;
}

	.pagination a {
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		transition: background-color .3s;
	}

		.pagination a.active {
			background-color: #00a8ff;
			color: white;
		}

		.pagination a:hover:not(.active) {
			background-color: #ddd;
		}


.table a {
	color: lightgrey;
}

.table .edit-icon:hover {
	color: dodgerblue;
}

.table .delete-icon:hover {
	color: red;
}

.table .approve-icon:hover {
	color: lawngreen;
}

.table .create-icon:hover {
	color: lawngreen;
}


.table .reject-icon:hover {
	color: red;
}

.table .details-icon:hover {
	color: dodgerblue;
}

.table .myBtn {
	cursor: pointer;
}
